<h1> Ma Todolist </h1>

<form method="get">
  <p>
    <label for="action">Que dois-je faire ? :</label>
    <input type="text" name="action">
    <input type="submit" value="Valider" name="valider">
  </p>
</form>
