html{
  font-family:Arial;
}
div.lien
{
  display:block;
  float: left;
  padding-right: 2em;
  padding-bottom: 4px;
  border:1px solid;
  border-color:grey;
}

div.lien:hover{
  background-color: grey;
}

div a{
  text-decoration:none;
  text-align:center;
  color:white;
}

.lien .act{
  color:red;
}

div.barrenavigation
{
  position : fixed;
  top = 0;
  height : 1.5em;
  position : relative;
  background-color:black;
}

div.droite{
  text-align: right;
  color:white;
  border:1px solid;
  border-color:grey;
  padding-bottom: 4px;
}
