body {
background: #FFFAC0;
}

p {
background-color:#90EE90;
}

h1 {
font: normal small-caps 900 36px/44px arial;
background-color: black;
color: #90EE90;
border-style: groove;
border-color: #90EE90;
text-align: center;
}
